{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block body %}
	{{ parent() }}
    <div class="container contentBody">
      <section id="about">
        <header>
          <h1>About</h1>
        </header>
        <img src="/img/1200/MTH_bus.jpg" /><br />
        <p>The story begins years prior to Mail the Horse, when a group of musicians and artists gathered weekly in a lofted woodshed or cold-water kitchen in coastal New Hampshire to share their work and collectively scratch some itch none of them could reach on his own. In this setting, longtime songwriting partners Michael Hesslein & Michael “Donny” Amidon and rhythm section Brendan Smith & William Lawrence discovered they shared a common aesthetic, and bonded over a love for timeless rock & roll, the short-fiction of Raymond Carver, and skewed, harrowing outsider folk music.</p>

        <p>During the winter of 2010, through situations both fortunate and destitute, the four friends found themselves sharing a dilapidated Bushwick duplex next door to a motorcycle club. It served as a home and recording studio, and slept many dozens of travelers, becoming known as Gates Motel. In the summer of 2011 Chris May passed through, who once had a weekly gig with Brendan playing Kinks covers at a London bar. After hearing mail the horse, Chris learned the pedal steel guitar, joined the band, and the current formation was born.</p>

        <p>Mail the Horse has spent the past four years honing in decades of influences, from Gram Parsons to Nick Cave, into viscerally executed folk-rock. The music conveys the fraternal bond of the members and an attitude carved out by New York City. Playing countless shows in NYC, from a sold-out NYE supporting The Felice Brothers to a backyard Kegger hosting some of Nashville’s finest bands, and several national tours, Mail the Horse are in that small class of DIY bands who drag keyboards and pedal steel into punk houses. Their music has grown mature and swaggering, and the new record, Planet Gates, brings their finely-tuned songcraft to the forefront.</p>
      </section>
      <br />
    </div>
{% endblock %}

