{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript">
        var data = {{data|json_encode|raw}}
    </script>
    <script type="text/javascript" src="js/views/index.js"></script>
{% endblock %}
{% block body %}
	{{ parent() }}

    <!-- CONTAINER -->


    <div class="gridster">
        <ul id="articles">
        </ul>
    </div>


    <!-- TEMPLATES -->
    <script type="text/template" id="article-template">
        <li class="<%-data.class%>" data-id="<%-data.id%>" data-row="1" data-col="2" data-sizex="<%-data.sizex%>" data-sizey="<%-data.sizey%>">
            <div class="content"></div>
            <div class="note"></div>
            <icon class="<%-data.class%> pull-left" title="<%-data.class%> (<%-data.type%>)"></icon>
        </li>
    </script>

    <script type="text/template" id="template-goodreads-book">
        <img src="<%-data.book.image_url%>" />
    </script>

    <script type="text/template" id="template-instagram-photo">
        <img src="<%-data.thumbnail_url%>" />
    </script>
    <script type="text/template" id="template-instagram-video">
        <img src="<%-data.thumbnail_url%>" />
    </script>

    <script type="text/template" id="template-link-web">
        <div>
            <%-data.title%><br />
            <%-data.url%>
            </div>
    </script>

    <script type="text/template" id="template-spotify-track">
        <img src="<%-data.album.images[0].url%>" /><br />
        <audio controls><source src="<%-data.preview_url%>" type="audio/mpeg"></audio>
    </script>

    <script type="text/template" id="template-trello-board">
        <div>
            <h5><%-data.name%></h5>
            last: <span class="timeago" title="<%-data.dateLastActivity%>"><%-data.dateLastActivity%></span><br />
            <a href="<%-data.url%>" target="_blank" class="btn btn-info btn-xs">view</a><br />

        </div>
    </script>

    <script type="text/template" id="template-twitter-tweet">
        <div class="tweet" data-tweet-id="<%-data%>"></div>
    </script>

     <script type="text/template" id="template-youtube-video">
        <iframe id="ytplayer" type="text/html" src="http://www.youtube.com/embed/<%-data.id%>?autoplay=0" frameborder="0"></iframe>
    </script>

{% endblock %}
