{% extends 'layout.html.twig' %}
{% block head %}
    {{parent()}}
    <script type="text/javascript">
        var data = {{data|json_encode|raw}}
    </script>
    <script type="text/javascript" src="js/views/index.js"></script>
{% endblock %}
{% block body %}
	{{ parent() }}
    <section id="articles"></section>

    <script type="text/template" id="article-template">
        <article class="<%-data.class%> col-xs-<%-data.cols%> rows-<%-data.weight%>" data-id="<%-data.id%>" data-weight="<%-data.weight%>">
            <icon class="<%-data.class%> pull-left"></icon>
            <div class="content"><%-data.type%></div>
        </article>
    </script>
{% endblock %}
